In [2]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [15]:
scraper = sntwitter.TwitterSearchScraper("#python")

In [16]:
scraper = sntwitter.TwitterSearchScraper("#python")

tweets = []

for i, tweet in enumerate(scraper.get_items()):
    data = [tweet.date, tweet.id, tweet.rawContent, tweet.likeCount, tweet.retweetCount, tweet.user.username]
    tweets.append(data)
    if i > 50:
        break

In [20]:
tweet_df = pd.DataFrame(tweets, columns=["date", "id", "rawContent", "likeCount", "retweetCount", "username"])

In [22]:
tweet_df.head()

,date,id,rawContent,likeCount,retweetCount,username
0,2023-01-01 03:22:32+00:00,1609389585699586048,You need help with your account recovery kindl...,0,0,CybertechBrian1
1,2023-01-01 03:22:07+00:00,1609389479848202242,"246/365 days,\n\nPython Program to Find the Su...",1,0,SatwikS8
2,2023-01-01 03:21:18+00:00,1609389271705845761,You need a Hacker for your service DM now ver...,0,0,CybertechBrian1
3,2023-01-01 03:21:02+00:00,1609389204815085569,Have Your account been #Hacked Dm now for help...,0,1,CybertechBrian1
4,2023-01-01 03:20:14+00:00,1609389004452990976,"Weather at Fort Meade / Tipton, MD - via NOAA'...",0,0,gpibot_g